*{
    color: white;
    /* outline: 1px solid red; */
}

body {
    background-color: black;
    overflow: hidden;
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    
}

/* Botões  */
button {
    border: none;
    height: 1.5em;
    width: 6em;
}

.começar-btn {
    background-color: green;
}

.parar-btn {
    background-color: grey;
}

.resetar-btn {
    background-color: red;
}